Package: testscript
Version: 1.3
Architecture: all
Maintainer: Robert Key robkey@mighty.co.za
Section: myown
Priority: optional
Description: This package tests postinst, preinst, postrm prerm scripts
